/* HEADER */

.home-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px 0 20px;
}

.logo {
    width: 250px;
    height: 90px;
    cursor: pointer;
}

.home-header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.add-btn {
    width: 140px;
    height: 42px;
}

.user-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;

}

.user-icon:hover {
    filter: drop-shadow(3px 3px 6px black);
}

@media only screen and (max-width: 484px){
    .home-header {
        justify-content: center;
    }
}

/* CATEGORIES */

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.categories-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.remove-filter-btn {
    padding: 10px;
}

.remove-filter-btn:disabled {
    opacity: 0.5;
}

.categories-card {
    background-color: #FFF;
    padding: 6px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.categories-card:hover {
    scale: 1.1;
    font-weight: 700;
}

.add-category-btn {
    width: 140px;
    height: 42px;
}

/* ACTIVES LIST */

.actives-list-container {
    margin-top: 40px;
}

.actives-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.active-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2px;
    width: 250px;
    height: 400px;
    cursor: pointer;
    overflow: hidden;

}

.thumbnail-error {
    object-fit: contain;
}

.active-card:hover  {
    img {
        transform: scale(1.1);
    }
}

.active-card > img {
    width: 100%;
    height: 142px;
    border-radius: 4px;
    transition: 0.5s all ease-in-out;
}

.active-card > p {
    overflow-y: scroll;
    text-overflow: ellipsis;
    height: 150px;
}

.active-card > span {
    font-weight: 700;
    padding: 6px;
    border-radius: 4px;
    margin-top: 5px;
}

.empyt-list-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.empty-list-icon {
    max-width: 400px;
    min-width: 200px;
}

.report-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    padding: 0 10px;
}

.report-btn:disabled {
    opacity: 0.5;
}

.report-container {
    display: none;
    width: 350px;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    background-color: #fff;
    border: solid 1px #929292;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 6px 4px 20px 0px #000;
}

.close-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.close-icon > img {
    width: 25px;
}

.visible {
    display: flex;
}


