body {
    width: 100vw;
}

.logo {
    margin: auto;
    display: block;
    max-width: 350px;  
}

.formulariocadastro {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.formulariocadastro > h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 32px;
}

.cadastro1 {
    margin-bottom: 20px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    height: 30px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}

#SucessMSG{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

#ErrorMSG{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}