body {
    width: 100vw;
}

.logo {
    margin: auto;
    display: block;
    max-width: 350px;  
    }

.formulariologin {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.formulariologin > h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 32px;
}

#email, #password {
    height: 30px;
}

.login1 {
    margin-bottom: 20px;
    width: 100%;

}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 10px;

}

