body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.logo {
    margin: auto;
    display: block;
    width: 20%;    
    }

.formulariologin {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #b6b6b6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#email, #password {
    height: 30px;
}

.login1 {
    margin-bottom: 20px;
    width: 100%;

}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: rgb(11, 145, 254);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: rgb(11, 145, 254)
}